* {
  -webkit-font-smoothing: antialiased;
}

.-caption-text {
  font-size: var(--caption);
  color: var(--color-neutral-500);
}

.-onboarding-guide-text {
  font-size: var(--paragraph-03);
  color: var(--color-neutral-800);
}

.-align-flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.-flex-center {
  display: flex;
  align-items: center;
}

/* Necessary for angular font */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-neutral-800);
  font-family: 'Roboto', sans-serif !important;
}

.-dashboard-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 32px;
  padding-bottom: 90px;
  & > .placeholder-card {
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(205, 210, 223, 0.5);
    background-color: var(--color-white);
    height: 330px;
  }

  & > .-one-third-width {
    grid-column: span 2;
  }
  & > .-two-thirds-width {
    grid-column: span 4;
  }
  & > .-half-width {
    grid-column: span 3;
  }
  & > .-full-width {
    grid-column: span 6;
  }
}

::placeholder {
  opacity: 1;
}

svg {
  flex-shrink: 0;
}

.-button-like {
  cursor: pointer;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    transform: translateY(1px);
    transition-duration: 0.1s;
    opacity: 0.5;

    input:focus {
      outline: none;
    }
  }

  svg:focus {
    outline: none;
  }
}

.-text-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.numbers-size {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-neutral-300);
  border-radius: 20px;
  background-color: var(--color-background-white);
  padding-right: 16px;
  & > .count-icon {
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--color-neutral-300);
    padding: 5px;
    width: 35px;
    height: 35px;
  }
}

.-disabled {
  cursor: not-allowed;
  user-select: none;
}

.el-radio {
  margin: 0;
}

.el-scrollbar__bar {
  opacity: 1;
}

.el-scrollbar__thumb {
  background-color: var(--color-neutral-300);
  &:hover {
    background-color: var(--color-neutral-500);
  }
}

.-custom-scrollbar {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

.-description {
  color: var(--color-neutral-500);
  font-size: var(--paragraph-03);
}

.-subtitle {
  color: var(--color-neutral-700);
  font-size: var(--caption);
}

.-card-like {
  border-radius: 4px;
  border: 1px solid var(--color-neutral-300);
  background-color: var(--color-background-white);
}

.-multiline-text {
  white-space: pre-line;
}
