/*
.u-cascader {
  &-menu,
  &-input {
    .el-input {
      & > input {
        border-color: var(--color-input-border);
        background-color: var(--color-background-white);
        font-size: var(--paragraph-02);
        color: var(--color-neutral-800);
        &::placeholder {
          font-weight: 500;
        }
      }
      &.is-focus .el-input__inner {
        border-color: var(--color-input-border);
      }
    }
    .el-input__inner {
      border-radius: 3px;
      &:focus {
        border-color: var(--color-input-border) !important;
        outline: 3px solid var(--color-input-outline-focus);
        caret-color: var(--color-neutral-800);
        color: var(--color-neutral-800);
      }
      &:hover {
        border: 1px solid var(--color-input-border-hover) !important;
      }
    }
    .el-cascader-node__label {
      line-height: 34px;
      font-size: var(--paragraph-02);
      font-weight: 500;
    }
    &.-focused {
      .el-cascader-node__label {
        color: var(--color-grey);
      }
    }
    &-popper {
      &.el-cascader__dropdown {
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);

        &[x-placement^='bottom'] .popper__arrow {
          border-bottom-color: var(--color-white);
        }
        &[x-placement^='bottom'] .popper__arrow {
          border-bottom-color: var(--color-white);
          &::after {
            border-bottom-color: var(--color-background-white);
          }
        }
        &[x-placement^='top'] .popper__arrow {
          border-top-color: var(--color-white);
          &::after {
            border-top-color: var(--color-background-white);
          }
        }

        .el-cascader__suggestion-list {
          li:hover {
            background-color: var(--color-neutral-100);
          }
        }

        .el-cascader-menu__list {
          background-color: var(--color-background-white);
          min-width: 200px;
          max-width: 250px;
          height: 210px;
          max-height: 210px;

          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: var(--color-neutral-300);
          }
          &::-webkit-scrollbar-thumb:hover {
            background-color: var(--color-neutral-500);
          }

          &--flexible {
            max-width: none;
          }

          .el-cascader-node__postfix {
            padding-right: 7px;
          }

          .el-cascader-node {
            background-color: var(--color-background-white);
            padding: 8px 24px 8px 15px;
            color: var(--color-neutral-800);
            font-size: var(--paragraph-02);
            &.in-active-path {
              color: var(--color-primary-500);
            }
            &:hover {
              background-color: var(--color-neutral-100);
            }
            &:focus:not(:active) {
              background-color: transparent !important;
            }
            &:hover:not(:active) {
              background-color: var(--color-neutral-100) !important;
            }

            &--extensible {
              &::after {
                right: 5px;
                color: var(--color-grey);
              }
              &.is-active::after {
                color: var(--color-primary-500);
              }
            }
            &.is-active {
              font-weight: 700;
              background: var(--color-neutral-100);
            }
          }
        }
      }
    }
  }
}
  */
