.u-message {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid var(--color-neutral-100);
  border-radius: 4px;
  box-shadow: var(--box-shadow-s);
  background-color: var(--color-background-white);
  padding-right: 40px;
  padding-left: 40px;
  min-height: 80px;
  text-align: center;
  color: var(--color-white);
  &.-error {
    border-left: 10px solid var(--color-status-error);
  }
  &.-success {
    border-left: 10px solid var(--color-status-success);
  }
  &.-warning {
    border-left: 10px solid var(--color-status-warning);
  }
  .el-message__content {
    font-size: var(--paragraph-03);
    font-weight: 500;
  }
}
